In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
# Titanic Veri Seti Pandas Uygulaması

import pandas as pd

# Titanic veri setini indirip yükle
# İstersen kendi yolunu ver, ya da Kaggle’dan çekebilirsin.
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Veri setini göster (ilk 5 satır)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
1. Kazada ölenlerin yaş ortalaması: 30.62617924528302

In [18]:
# 1. Kazada ölenlerin yaş ortalaması
print("1. Kazada ölenlerin yaş ortalaması:", df[df.Survived == 0]["Age"].mean())

1. Kazada ölenlerin yaş ortalaması: 30.62617924528302

In [8]:
# 2. Kazada ölenlerin bilet fiyatlarının ortalaması ve medyanı
print("2. Kazada ölenlerin bilet fiyatlarının ortalaması:", df[df.Survived == 0]["Fare"].mean())
print("   Kazada ölenlerin bilet fiyatlarının medyanı:", df[df.Survived == 0]["Fare"].median())

2. Kazada ölenlerin bilet fiyatlarının ortalaması: 22.117886885245902
   Kazada ölenlerin bilet fiyatlarının medyanı: 10.5

In [9]:


# 3. Kazada ölen erkeklerin yaş ortalaması
print("3. Kazada ölen erkeklerin yaş ortalaması:", df[(df.Survived == 0) & (df.Sex == "male")]["Age"].mean())

3. Kazada ölen erkeklerin yaş ortalaması: 31.618055555555557

In [10]:


# 4. Kazada ölen kadınların yaş ortalaması
print("4. Kazada ölen kadınların yaş ortalaması:", df[(df.Survived == 0) & (df.Sex == "female")]["Age"].mean())

4. Kazada ölen kadınların yaş ortalaması: 25.046875

In [11]:


# 5. Kazadan kurtulanların yaş ortalaması
print("5. Kazadan kurtulanların yaş ortalaması:", df[df.Survived == 1]["Age"].mean())

5. Kazadan kurtulanların yaş ortalaması: 28.343689655172415

In [12]:


# 6. Kazadan kurtulanların bilet fiyatlarının ortalaması
print("6. Kazadan kurtulanların bilet fiyatlarının ortalaması:", df[df.Survived == 1]["Fare"].mean())

6. Kazadan kurtulanların bilet fiyatlarının ortalaması: 48.39540760233918

In [13]:
# 7. Kazadan kurtulan toplam kişi sayısı
print("7. Kazadan kurtulan toplam kişi sayısı:", len(df[df.Survived == 1]))

7. Kazadan kurtulan toplam kişi sayısı: 342

In [14]:
# 8. 10 yaşından küçüklerin bilet fiyatlarının medyan değeri
print("8. 10 yaşından küçüklerin bilet fiyatlarının medyan değeri:", df[df.Age < 10]["Fare"].median())

8. 10 yaşından küçüklerin bilet fiyatlarının medyan değeri: 27.0

In [15]:
# 9. 1., 2. ve 3. sınıf bilet fiyatlarının ortalama ve medyanları
print("9. Sınıflara göre bilet fiyatlarının ortalama ve medyanları:")
print(df.groupby("Pclass")["Fare"].agg(["mean", "median"]))

9. Sınıflara göre bilet fiyatlarının ortalama ve medyanları:
             mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

In [16]:
# 10 Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız.

# Kazada ölen kadın sayısı
olen_kadin = len(df[(df.Survived == 0) & (df.Sex == "female")])

# Toplam kadın sayısı
toplam_kadin = len(df[df.Sex == "female"])

# Ölen kadınların oranı
oran_kadin = olen_kadin / toplam_kadin

# Kazada ölen erkek sayısı
olen_erkek = len(df[(df.Survived == 0) & (df.Sex == "male")])

# Toplam erkek sayısı
toplam_erkek = len(df[df.Sex == "male"])

# Ölen erkeklerin oranı
oran_erkek = olen_erkek / toplam_erkek

print(f"Kazada ölen kadınların oranı: {oran_kadin:.2%}")
print(f"Kazada ölen erkeklerin oranı: {oran_erkek:.2%}")

Kazada ölen kadınların oranı: 25.80%
Kazada ölen erkeklerin oranı: 81.11%